<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="container">
    <h1>Thank you for your post, <%= data.author %>!</h1>
    <p>Title: <%= data.title %></p>
    <p>Content: <%= data.content %></p>
    <br>
    <a href="/entries">View All Entries</a>
    </div>
</body>
</html>